<ng-container *ngIf="state$ | async as state">
  <sunedu-modal-form-container
  [title]="state.title"
  [loading]="state.isLoading"
  (on-submit)="handleSubmit()"
  (on-dismiss)="handleClose()"
  [msgErrors]="state.error"
  [cancelLabel]="CLOSE_MODAL.LIC_CLOSE_MODAL_LABEL" [cancelIcon]="CLOSE_MODAL.LIC_CLOSE_MODAL_ICON"
  [formType]="state.type">
  <mat-card>
    <mat-card-content>
      <div class="form-row">
        <div class="col-md-6">
          <sunedu-form-model-field
            label="Tipo de documento"
            [formModelField]="form.model['tipoDocumento']"
            [disabled]="state.isLoading  || state.type == formType.CONSULTAR || isRepresentante"
            [hideRequiredIndicator]="true">
          </sunedu-form-model-field>
        </div>
        <div class="col-md-6">
          <sunedu-form-model-field
            label="N° de documento"
            [formModelField]="form.model['numeroDocumento']"
            [disabled]="state.isLoading  || state.type == formType.CONSULTAR || isRepresentante" [hideRequiredIndicator]="true">
          </sunedu-form-model-field>
        </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <sunedu-form-model-field
          label="Nombre"
          [formModelField]="form.model['nombres']"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR || isRepresentante" [hideRequiredIndicator]="true">
        </sunedu-form-model-field>
      </div>
      <div class="col-md-6">
        <sunedu-form-model-field
          label="Apellido Paterno"
          [formModelField]="form.model['apellidoPaterno']"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR || isRepresentante" [hideRequiredIndicator]="true">
      </sunedu-form-model-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <sunedu-form-model-field
          label="Apellido Materno"
          [formModelField]="form.model['apellidoMaterno']"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR || isRepresentante" [hideRequiredIndicator]="true">
        </sunedu-form-model-field>
      </div>
      <!-- <div class="col-md-6">
        <sunedu-form-model-field
          label="Cargo"
          [formModelField]="form.model['cargo']"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR">
      </sunedu-form-model-field>
      </div> -->
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <sunedu-form-model-field
        label="Oficina registral"
        [formModelField]="form.model['oficinaRegistral']" 
        [inputProps]="{ maxlength : 250}"
        [disabled]="state.isLoading  || state.type == formType.CONSULTAR" [hideRequiredIndicator]="true">
      </sunedu-form-model-field>
      </div>
      <div class="col-md-6">
        <sunedu-form-model-field
        label="N° de partida registral"
        [formModelField]="form.model['numeroPartida']"
        number-only="soloNumeros"
        [inputProps]="{ maxlength : 11}"
        [disabled]="state.isLoading  || state.type == formType.CONSULTAR" [hideRequiredIndicator]="true">
      </sunedu-form-model-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <sunedu-form-model-field
        label="Asiento"
        [formModelField]="form.model['asiento']"
        [inputProps]="{ maxlength : 250}"
        [disabled]="state.isLoading  || state.type == formType.CONSULTAR" [hideRequiredIndicator]="true">
      </sunedu-form-model-field>
      </div>
      <div class="col-md-6">
        <sunedu-form-model-field
        label="Domicilio legal"
        [formModelField]="form.model['domicilioLegal']" 
        [inputProps]="{ maxlength : 250}"
        [disabled]="state.isLoading  || state.type == formType.CONSULTAR" [hideRequiredIndicator]="true">
      </sunedu-form-model-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <sunedu-form-model-field
          variant="select"
          label="Departamento"
          bindLabel="text"
          bindValue="value"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
          [formModelField]="form.model['nombreDepartamento']"
          [options]="departamentos"
          (on-change)="handleInputChange($event)" [hideRequiredIndicator]="true">
          </sunedu-form-model-field>
      </div>
      <div class="col-md-6">
        <sunedu-form-model-field
        variant="select"
        label="Provincia"
        bindLabel="text"
        bindValue="value"
        [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
        [formModelField]="form.model['nombreProvincia']"
        [options]="provincias"
        (on-change)="handleInputChange($event)" [hideRequiredIndicator]="true">
        </sunedu-form-model-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <sunedu-form-model-field
          variant="select"
          label="Distrito"
          bindLabel="text"
          bindValue="value"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
          [formModelField]="form.model['nombreDistrito']"
          [options]="distritos"
          (on-change)="handleInputChange($event)" [hideRequiredIndicator]="true">
          </sunedu-form-model-field>
      </div>
      <div class="col-md-6">
        <sunedu-form-model-field
        label="Teléfono"
        [formModelField]="form.model['telefono']"
        [disabled]="state.isLoading  || state.type == formType.CONSULTAR || isRepresentante" [hideRequiredIndicator]="true">
      </sunedu-form-model-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <sunedu-form-model-field
        label="Correo"
        [formModelField]="form.model['correo']"
        [disabled]="state.isLoading  || state.type == formType.CONSULTAR || isRepresentante" [hideRequiredIndicator]="true">
      </sunedu-form-model-field>
      </div>

    </div>

    </mat-card-content>
  </mat-card>

</sunedu-modal-form-container>
</ng-container>
