<ng-container *ngIf="state$ | async as state">
   <mat-toolbar>
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <sunedu-button-nuevo [disabled]="state.buscadorAmbiente.isLoading" class="example-icon" (on-click)="handleClickNuevoAmbiente()">
      </sunedu-button-nuevo>
    </mat-toolbar-row>
  </mat-toolbar>
  <sunedu-data-grid
  [loading]="state.buscadorAmbiente.isLoading"
  [source]="state.buscadorAmbiente.source"
  [definition]="state.buscadorAmbiente.gridDefinition"
  (on-load-data)="handleLoadData($event)"
  (on-click-button)="handleClickButton($event)">
  </sunedu-data-grid>
</ng-container>
