.footer-button-container {
  text-align: center;
}

.button-finalizar ::ng-deep button {
  background: #dc3545;
  color: #fff;
}

.actividad-footer-root {
  margin-top: 15px;
  margin-bottom: 15px;
}
