<ng-container *ngIf="state$ | async as state">
  <sunedu-modal-form-container [title]="state.title" [loading]="state.isLoading" (on-submit)="handleSubmit()"
  [cancelLabel]="CLOSE_MODAL.LIC_CLOSE_MODAL_LABEL" [cancelIcon]="CLOSE_MODAL.LIC_CLOSE_MODAL_ICON"
                               (on-dismiss)="handleClose()" [msgErrors]="state.error" [formType]="state.type">
    <mat-card>
      <h2>Información general del programa</h2>
      <mat-card-content>
        <div class="form-row">
          <div class="col-md-12">
            <sunedu-form-model-field variant="select" label="Programa" bindLabel="text" bindValue="value"
                                     [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
                                     [formModelField]="form.model['idPrograma']"
                                     [options]="state.comboLists.programas"
                                     (on-change)="handleInputChange($event)"
                                     [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <sunedu-form-model-field variant="select" label="Régimen de estudio" bindLabel="text" bindValue="value"
                                     [disabled]="true"
                                     [formModelField]="form.model['tipoRegimenEstudioEnum']"
                                     [options]="state.comboLists.regimenEstudios"
                                     [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
          </div>
          <div class="col-md-6" *ngIf="modalidadEstudioVisible">
            <sunedu-form-model-field variant="select" label="Modalidad de estudio" bindLabel="text" bindValue="value"
                                     [disabled]="true"
                                     [formModelField]="form.model['modalidadEstudioEnum']"
                                     [options]="state.comboLists.modalidadEstudios"
                                     [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <sunedu-form-model-field variant="datepicker" label="Fecha de elaboración del plan curricular"
                                     [formModelField]="form.model['fechaElaboracion']" [maxDate]="max_date" (on-change)="handleInputChange($event)"
                                     [disabled]="state.isLoading || state.type == formType.CONSULTAR"
                                     [hideRequiredIndicator]="true"></sunedu-form-model-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <br />
    <mat-card>
      <h2>Periodo académico y valor del crédito</h2>
      <mat-card-content>

        <div class="form-row">
          <div class="col-md-6">
            <sunedu-form-model-field variant="text" label="N° de periodos académicos por año"
                                     [formModelField]="form.model['numeroPeriodo']"
                                     [inputProps]="{ maxlength : 1}"
                                     number-only="true"
                                     [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
                                     [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
          </div>
        
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <sunedu-form-model-field variant="text" label="Duración del programa en años"
                                     [formModelField]="form.model['duracionProgramaAnios']"
                                     [inputProps]="{ maxlength : 1}"
                                     number-only="true"
                                     [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
                                     [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
          </div>
          <div class="col-md-6">
            <sunedu-form-model-field variant="text" label="Duración del programa en semanas"
                                     [formModelField]="form.model['duracionProgramaSemanas']"
                                     [inputProps]="{ maxlength : 3}"
                                     number-only="true"
                                     [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
                                     [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
            <mat-icon style="font-size:small;margin-right: -8px; vertical-align: text-top;">info</mat-icon><label>De acuerdo al régimen de estudios</label>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <sunedu-form-model-field decimal-only label="Valor de crédito en horas de teoría por periodo académico"
                                     [formModelField]="form.model['valorCreditoTeorica']"
                                     [inputProps]="{ maxlength : 9}"
                                     decimals="2"
                                     number-only="true"                                     
                                     [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
                                     [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
          </div>
          <div class="col-md-6">
            <sunedu-form-model-field decimal-only label="Valor de créditos en horas de práctica por periodo académico"
                                     [formModelField]="form.model['valorCreditoPractica']"
                                     [inputProps]="{ maxlength : 9}"
                                     decimals="2"
                                     number-only="true"                                     
                                     [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
                                     [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </sunedu-modal-form-container>
</ng-container>
