<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Package Sunedu" value="http://172.16.90.80/Sunedu.Package/nuget" />
    <add key="NuGet.NA.Sunedu.Docker" value="http://172.16.75.56/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Package_Sunedu>
      <add key="username" value="licenciamiento260@sunedu.gob.pe" />
      <add key="ClearTextPassword" value="Nirvana14__" />
    </Package_Sunedu>
  </packageSourceCredentials>
</configuration>