<ng-container *ngIf="state$ | async as state">
  <sunedu-modal-form-container
  [title]="state.title"
  [loading]="state.isLoading"
  (on-submit)="handleSubmit()"
  (on-dismiss)="handleClose()"
  [msgErrors]="state.error"
  [cancelLabel]="CLOSE_MODAL.LIC_CLOSE_MODAL_LABEL" [cancelIcon]="CLOSE_MODAL.LIC_CLOSE_MODAL_ICON"
  [formType]="state.type">
  <mat-card>
    <mat-card-content> 
      <div class="form-row">
        <div class="col-md-6" [hidden] = "codigoHidden">
          <sunedu-form-model-field
          label="Código del programa"
          [formModelField]="form.model['codigo']"
          [inputProps]="{ maxlength: 50 }"
          
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR || esDisabled"
          [hideRequiredIndicator]="true">
          
        </sunedu-form-model-field>
        </div>
        <div class="col-md-6">
          <sunedu-form-model-field
          label="Denominación del programa y mención"
          [formModelField]="form.model['denominacionPrograma']"
          [inputProps]="{ maxlength: 200 }"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
          [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
        </div>
        <div class="col-md-6">
          <sunedu-form-model-field
                variant="select"
                label="Denominación del clasificador CINE"
                bindLabel="text"
                bindValue="value"
                [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
                [formModelField]="form.model['codigoCINE']"
                [options]="state.comboLists.denominacionClasificadorCINEs"
                (on-change)="handleInputChange($event)"
                [hideRequiredIndicator]="true">
              </sunedu-form-model-field>
        </div>
        <div class="col-md-6">
          <sunedu-form-model-field
                variant="select"
                label="Grado académico"
                bindLabel="text"
                bindValue="value"
                [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
                [formModelField]="form.model['tipoGradoAcademicoEnum']"
                [options]="state.comboLists.gradoAcademicos"
                (on-change)="handleInputChange($event)"
                [hideRequiredIndicator]="true">
              </sunedu-form-model-field>
        </div>
        <div class="col-md-6">
          <sunedu-form-model-field
          label="Denominación del grado académico"
          [formModelField]="form.model['denominacionGradoAcademico']"
          [inputProps]="{ maxlength: 200 }"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
          [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
        </div>
        <div class="col-md-6" [hidden] = "esGradoAcademicoBachiller">
          <sunedu-form-model-field
          label="Denominación del título otorgado"
          [formModelField]="form.model['denominacionTituloOtorgado']"
          [inputProps]="{ maxlength: 200 }"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
          [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
        </div>
        <div class="col-md-6"> 
          <sunedu-form-model-field
          label="N° de Resolución de creación"
          [formModelField]="form.model['resolucionCreacion']"
          [inputProps]="{ maxlength: 20 }"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
          [hideRequiredIndicator]="true">
        </sunedu-form-model-field>
        </div>
        <div class="col-md-6">
          <sunedu-form-model-field  variant="datepicker" 
          label="Fecha de creación"
          [formModelField]="form.model['fechaCreacionResolucion']"
          [maxDate]="max_date"
          [inputProps]="{ maxlength: 15 }"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
          [hideRequiredIndicator]="true">
        </sunedu-form-model-field>
        </div>
        <div class="col-md-6">
          <sunedu-form-model-field
                variant="select"
                label="Modalidad de estudio"
                bindLabel="text"
                bindValue="value"
                [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
                [formModelField]="form.model['modalidadEstudioEnum']"
                [options]="state.comboLists.modalidadEstudios"
                (on-change)="handleInputChange($event)"
                [hideRequiredIndicator]="true">
              </sunedu-form-model-field>
        </div>
        <div class="col-md-6">
          <sunedu-form-model-field
          label="N° de Resolución de creación de modalidad"
          [formModelField]="form.model['resolucionCreacionModalidad']"
          [inputProps]="{ maxlength: 20 }"
          [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
          [hideRequiredIndicator]="true">
            </sunedu-form-model-field>
        </div>
        <div class="col-md-6">
            <sunedu-form-model-field  variant="datepicker" 
            label="Fecha de creación de la modalidad"
            [formModelField]="form.model['fechaCreacionModalidad']"
            [maxDate]="max_date"
            [inputProps]="{ maxlength: 15 }"
            [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
            [hideRequiredIndicator]="true">
              </sunedu-form-model-field>
          </div>
          <div class="col-md-6">
            <sunedu-form-model-field
                  variant="select"
                  label="Nombre de la facultad"
                  bindLabel="text"
                  bindValue="value"
                  [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
                  [formModelField]="form.model['idFacultad']"
                  [options]="state.comboLists.nombreFacultades"
                  (on-change)="handleInputChange($event)"
                  [hideRequiredIndicator]="true">
                </sunedu-form-model-field>
          </div>
          <div class="col-md-6">
            <sunedu-form-model-field
                  variant="select"
                  label="Régimen de estudio"
                  bindLabel="text"
                  bindValue="value"
                  [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
                  [formModelField]="form.model['regimenEstudioEnum']"
                  [options]="state.comboLists.regimenEstudios"
                  (on-change)="handleInputChange($event)"
                  [hideRequiredIndicator]="true">
                </sunedu-form-model-field>
          </div>
          
          
         
          <div class="col-md-12">
            <sunedu-form-model-field
            variant="multiline"  
            label="Comentario"
            [formModelField]="form.model['comentario']"
            [inputProps]="{ maxlength: 500 }"
            [disabled]="state.isLoading  || state.type == formType.CONSULTAR"
            [hideRequiredIndicator]="true">
              </sunedu-form-model-field>
          </div>
      </div>
    </mat-card-content>
  </mat-card>
</sunedu-modal-form-container>
</ng-container>
